<div class="header">
    <div class="page-title">
        <h2>{{title}}</h2>        
        <small>
            {{subtitle}}
        </small>
    </div>
    <div class="user-settings">
        <button mat-icon-button matTooltip="Notificações">
            <mat-icon matBadge="7" matBadgeColor="accent">notifications</mat-icon>           
        </button>
        <button mat-stroked-button color="primary">
            VIACREDI
        </button>

        <img src="../../../../assets/person.png" alt="Usuário" />
    </div>
</div>