$theme-blue: (
  50: #1b5c7c,
  100: #1b5c7c,
  200: #1b5c7c,
  300: #1b5c7c,
  400: #1b5c7c,
  500: #1b5c7c,
  600: #1b5c7c,
  700: #1b5c7c,
  800: #1b5c7c,
  900: #1b5c7c,
  A100: #1b5c7c,
  A200: #1b5c7c,
  A400: #1b5c7c,
  A700: #1b5c7c,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$theme-accent: (
  50: #0098c4,
  100: #0098c4,
  200: #0098c4,
  300: #0098c4,
  400: #0098c4,
  500: #0098c4,
  600: #0098c4,
  700: #0098c4,
  800: #0098c4,
  900: #0098c4,
  A100: #0098c4,
  A200: #0098c4,
  A400: #0098c4,
  A700: #0098c4,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$theme-warn: (
  50: #ff6955,
  100: #ff6955,
  200: #ff6955,
  300: #ff6955,
  400: #ff6955,
  500: #ff6955,
  600: #ff6955,
  700: #ff6955,
  800: #ff6955,
  900: #ff6955,
  A100: #ff6955,
  A200: #ff6955,
  A400: #ff6955,
  A700: #ff6955,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$app-blue: #1b5c7c;
$app-accent: #0098c4;
