<div class="navigation">
    <mat-grid-list cols="1">
        <mat-grid-tile routerLink="home">
            <img src="./../../../../assets/logo.png" alt="Logo Ailos" />
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-icon-button disabled>
                <mat-icon>menu</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile routerLink="admission">
            <button mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-icon-button disabled>
                <mat-icon>star</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-icon-button disabled>
                <mat-icon>sms</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-icon-button disabled>
                <mat-icon>tune</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-icon-button disabled>
                <mat-icon>account_balance</mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>